* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
body {
  background: #48cfad;
}
.app {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 2px solid #fff;
  position: sticky;
  top: 0;
  background: #48cfad;
  z-index: 100;
  color: #fff;
}
header .logo {
  font-size: 2rem;
  font-weight: bold;
}
header .logo a {
  color: #fff;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #000;
}
.products-container {
  margin: 2rem auto;
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}
.product:hover .product-title,
.product:hover .product-description,
.product:hover button,
.product:hover .product-price {
  top: 0;
}
.checkout-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkout-content {
  width: 85%;
  max-height: 90vh;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  overflow: auto;
}
.checkout-title {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
.checkout-body {
  display: flex;
  min-height: 60vh;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
.checkout-img {
  width: 20%;
}
.checkout-img img {
  width: 100%;
}
.checkout-product-details {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout-product-count button {
  width: 20px;
  padding: 0;
  margin: 0 10px;
  border-radius: 50%;
}
.checkout-product-title {
  font-size: 1.5rem;
}
form {
  width: 60%;
  margin: 0 auto;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}
form label {
  display: block;
  margin: 0.5rem 1rem;
}
form label input,
form label textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 0.5px solid #ddd;
  border-radius: 5px;
}

form button {
  margin: 10px auto;
}

.categories-container {
  width: 85%;
  text-align: center;
  margin: 2rem auto;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.category {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #48cfad;
  background: #fff;
}
.category:hover {
  cursor: pointer;
  background: #48cfad;
  color: #fff;
  border: 2px solid #fff;
}
.information-section {
  width: 85%;
  margin: 2rem auto;
  text-align: center;
}
.information-section p {
  margin: 1rem;
}
.Home {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.Home .hero {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
}
.hero p {
  font-weight: normal;
}
.promotions {
  margin: 2rem 0;
}

.product-card {
  width: 325px;
  height: 490px;
  overflow: hidden;
  margin: 1rem 2rem;
}
.product {
  width: 325px;
  height: 500px;
  background: #fff;
  position: relative;
}
.product img {
  width: 325px;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48daa1;
  opacity: 0.4;
}
.product:hover .image-overlay {
  opacity: 0.7;
}
.product:hover #product-btn {
  opacity: 1;
}
.product:hover .product-container {
  top: 272px;
}
.btn {
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  width: 172px;
  background: #48cfad;
  border: 1px solid #fff;
}
#product-btn {
  position: absolute;
  top: 112px;
  left: 50%;
  opacity: 0;
  margin-left: -85px;
  border: 2px solid #fff;
}
.btn:hover {
  background: #fff;
  border: 1px solid #48cfad;
  color: #48cfad;
  cursor: pointer;
}
.product-container {
  background: #fff;
  width: 100%;
  height: 300px;
  padding: 27px 35px 35px;
  position: absolute;
  top: 386px;
  left: 0;
}
.product-container .product-name {
  font-size: 22px;
  color: #393c45;
}
.product-container p {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}
.product-container .product-price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}
.admin-panel {
  width: 85%;
  text-align: center;
}
.admin-panel h1 {
  color: #fff;
}
.admin-panel .btn {
  margin: 2rem;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}
tr,
td,
th {
  border: 1px solid #ddd;
  margin: 0 1rem;
  padding: 0.5rem;
}
.hover {
  color: #48cfad;
}
.hover:hover {
  cursor: pointer;
}
